name: gcc

on:
  push:
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  PACKAGE_NAME: maliput
  ROS_DISTRO: foxy

jobs:
  compile_and_test:
    name: Compile and test
    runs-on: ubuntu-latest
    container:
      image: ubuntu:20.04
    steps:
    - uses: actions/checkout@v3
    - uses: ros-tooling/setup-ros@v0.3
    - uses: ros-tooling/action-ros-ci@v0.2
      id: action_ros_ci_step
      with:
        package-name: ${{ env.PACKAGE_NAME }}
        target-ros2-distro: ${{ env.ROS_DISTRO }}
        vcs-repo-file-url: ${GITHUB_WORKSPACE}/.github/dependencies.repos
        colcon-defaults: |
          {
            "build": {
              "mixin": ["coverage-gcc"]
            }
          }
        # If possible, pin the repository in the workflow to a specific commit to avoid
        # changes in colcon-mixin-repository from breaking your tests.
        colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/c75e4b34a3959524564afb584e2aa33c7eec323c/index.yaml
    - uses: codecov/codecov-action@v3
      with:
        # Regarding token use in public repo:
        # See https://community.codecov.com/t/upload-issues-unable-to-locate-build-via-github-actions-api/3954
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ros_ws/lcov/total_coverage.info
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true
        verbose: true

    - uses: actions/upload-artifact@v3
      if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
      with:
        name: lcov
        retention-days: 7
        path: ${{ steps.action_ros_ci_step.outputs.ros-workspace-directory-name }}/lcov

    # create tarball to push to github artifacts
    # Note that a file with the name of the bundle is created to pass the value
    # step to step.
    - name: Create tarball to store in Github Artifacts.
      if: ${{ github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch' }}
      shell: bash
      working-directory: ${{ steps.action_ros_ci_step.outputs.ros-workspace-directory-name }}
      env:
        BUNDLE_NAME: maliput_underlay
      run: |
        echo "Moving install space to ${BUNDLE_NAME}";
        mv install ${BUNDLE_NAME};
        CURRENT_BUNDLE_TARBALL_NAME="${BUNDLE_NAME}_$(date +%Y%m%d)_20.04.tar.gz"
        echo $CURRENT_BUNDLE_TARBALL_NAME > bundle_file_name
        echo "bundle_file_name=${CURRENT_BUNDLE_TARBALL_NAME}" >> $GITHUB_ENV
        echo "Compressing tarball ${CURRENT_BUNDLE_TARBALL_NAME}";
        tar -czvf ${CURRENT_BUNDLE_TARBALL_NAME} ${BUNDLE_NAME};
    - uses: actions/upload-artifact@v2
      if: ${{ github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch' }}
      with:
        name: binary_underlay
        path: ${{ steps.action_ros_ci_step.outputs.ros-workspace-directory-name }}/${{ env.bundle_file_name }}
