name: scan_build

# Disabled flows
on: []

env:
  PACKAGE_NAME: maliput
  EXTRA_PACKAGE_NAME: maliput_py
  ROS_DISTRO: dashing
  ROS_WS: maliput_ws

jobs:
  static_analysis:
    name: Static analysis
    runs-on: ubuntu-18.04
    container:
      image: ubuntu:18.04
    env:
      LINKER_PATH: /usr/bin/lld-8
    steps:
    - uses: actions/checkout@v2
      with:
        path: ${{ env.ROS_WS }}/src/${{ env.PACKAGE_NAME }}
    # use setup-ros action to get vcs, rosdep, and colcon
    - uses: ros-tooling/setup-ros@0.1.2
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    - name: clang 8 install
      shell: bash
      run: ${{ env.ROS_WS }}/src/${{ env.PACKAGE_NAME }}/.github/clang_suite_installation.sh
    - name: vcs import
      shell: bash
      working-directory: ${{ env.ROS_WS }}
      run: vcs import src < src/${PACKAGE_NAME}/.github/dependencies.repos
    - run: colcon graph
      shell: bash
      working-directory: ${{ env.ROS_WS }}
    - name: rosdep install
      shell: bash
      working-directory: ${{ env.ROS_WS }}
      run: |
        rosdep update;
        rosdep install  -i -y --rosdistro ${ROS_DISTRO} --skip-keys "pybind11" --from-paths src
    - name: scan_build
      shell: bash
      working-directory: ${{ env.ROS_WS }}
      run: |
        . /opt/ros/${ROS_DISTRO}/setup.bash;
        ./src/${PACKAGE_NAME}/.github/run_scan_build \
            --cmake-args -DCMAKE_LINKER=${LINKER_PATH} \
            --packages-up-to ${PACKAGE_NAME} ${EXTRA_PACKAGE_NAME} \
            --event-handlers=console_direct+;
