name: Triage

on:
  issues:
    types:
      - opened
  pull_request:
    types:
      - opened

jobs:
  add-ticket-to-project:
    name: Core Development project
    uses: maliput/.github/.github/workflows/triage.yml@main
    with:
      number_of_project: "1"
    secrets:
      github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
